<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-4682463617947690~4306443417</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CleanSwipe requires access to your photo library to let you review and organize photos.</string>
</dict>
</plist>
